.VisualBody {
    background-color: darksalmon;
}

mat-slider {
    width: 300px;
}

.row {
    display: flex;
    padding-bottom: 10px;
}

.column1 {
    flex: auto;
    justify-content: center;
}

.column2 {
    flex: 15%;
    justify-content: center;
    margin-top: 10px;
}

mat-divider {
    padding-top: 30px;
    padding-bottom: 10px;
}