<mat-toolbar>
    <button mat-button [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/hello" routerLinkActive="active">Hello World</button>
        <button mat-menu-item routerLink="/calculator" routerLinkActive="active">Calculator</button>
        <button mat-menu-item routerLink="/feedback" routerLinkActive="active">Feedback Form</button>
        <button mat-menu-item routerLink="/templateform" routerLinkActive="active">Template Form</button>
        <button mat-menu-item routerLink="/reactiveform" routerLinkActive="active">Reactive Form</button>
        <button mat-menu-item routerLink="/cinema" routerLinkActive="active">Cinema</button>
    </mat-menu>
    <span>Front end kurssi</span>
</mat-toolbar>