<h1>Reactive Form</h1><br>
<mat-card appearance="outlined">
    <mat-card-content>
        <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
            <div class="inputslot">
                <mat-form-field hintLabel="Min length 2">
                    <mat-label>First name</mat-label>
                    <input matInput placeholder="Ex. Miika" formControlName="firstname" />
                    <mat-error *ngIf="firstname?.hasError('required')">Enter your first name</mat-error>
                    <mat-error *ngIf="firstname?.hasError('minlength')">Minumum
                        {{firstname?.errors?.['minlength'].requiredLength}} characters required</mat-error>
                    <mat-error *ngIf="firstname?.hasError('pattern')">Must be valid name</mat-error>
                    <mat-hint align="end">Only characters</mat-hint>
                </mat-form-field>
            </div><br>
            <div class="inputslot">
                <mat-form-field hintLabel="Min length 2">
                    <mat-label>Last name</mat-label>
                    <input matInput placeholder="Ex. Pihkola" formControlName="lastname" />
                    <mat-error *ngIf="lastname?.hasError('required')">Enter your last name</mat-error>
                    <mat-error *ngIf="lastname?.hasError('minlength')">Minumum
                        {{lastname?.errors?.['minlength'].requiredLength}} characters required</mat-error>
                    <mat-error *ngIf="lastname?.hasError('pattern')">Must be valid name</mat-error>
                    <mat-hint align="end">Only characters</mat-hint>
                </mat-form-field>
            </div><br>
            <div class="inputslot">
                <mat-form-field>
                    <mat-label>Person ID</mat-label>
                    <input matInput placeholder="PPKKVVSNNNT" formControlName="personid" />
                    <mat-error *ngIf="personid?.hasError('required')">Enter your person id</mat-error>
                    <mat-error *ngIf="personid?.hasError('pattern')">Must be valid person id</mat-error>
                </mat-form-field>
            </div><br>
            <div class="inputslot">
                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Ex. fname.lname@gmail.com" formControlName="email" type="email" />
                    <mat-error *ngIf="email?.hasError('required')">Enter your email</mat-error>
                    <mat-error *ngIf="email?.hasError('email')">Must be valid email</mat-error>
                </mat-form-field>
            </div><br>
            <div class="inputslot">
                <mat-form-field hintLabel="Min length 6">
                    <mat-label>Username</mat-label>
                    <input matInput placeholder="Ex. MiikaP" formControlName="username" />
                    <mat-error *ngIf="username?.hasError('required')">Enter desired username</mat-error>
                    <mat-error *ngIf="username?.hasError('minlength')">Minumum
                        {{username?.errors?.['minlength'].requiredLength}} characters required</mat-error>
                </mat-form-field>
            </div><br>
            <div class="inputslot">
                <mat-form-field hintLabel="Min length 10">
                    <mat-label>Password</mat-label>
                    <input matInput placeholder="Ex. ABCdef123X" formControlName="password" type="password" />
                    <mat-error *ngIf="password?.hasError('required')">Enter desired password</mat-error>
                    <mat-error *ngIf="password?.hasError('minlength')">Minumum
                        {{password?.errors?.['minlength'].requiredLength}} characters required</mat-error>
                    <mat-error *ngIf="password?.hasError('pattern')">Must contain atleast 1 Upper and Lower case
                        character
                        and 1 number</mat-error>
                    <mat-hint align="end">Must contain atleast 1 Upper and Lower case character and 1 number</mat-hint>
                </mat-form-field>
            </div><br>
            <div class="inputslot">
                <mat-form-field>
                    <mat-label>Confirm Password</mat-label>
                    <input matInput placeholder="Ex. ABCdef123X" formControlName="password2" type="password"
                        pattern="{{password?.value}}" />
                    <mat-error *ngIf="password2?.hasError('required')">Confirm password</mat-error>
                    <mat-error *ngIf="password2?.hasError('pattern')">Password does not match</mat-error>
                </mat-form-field>
            </div><br>
            <div class="inputslot">
                <mat-checkbox formControlName="tac">Accept terms and
                    conditions</mat-checkbox>
                <mat-error *ngIf="tac?.hasError('required') && tac?.dirty">Accept terms and conditions</mat-error>
            </div><br>
            <button mat-raised-button type="submit" [disabled]="profileForm.invalid">Submit</button>
        </form>
    </mat-card-content>
</mat-card><br>